// Logout Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title ¿Estas seguro?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | Selecciona "Salir" si estas seguro de abandonar el sitio
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
        a.btn.btn-primary(href='logout') Salir
